<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Department.DAL.Properties.Settings.PersonAwardConnectionString"
            connectionString="Data Source=DESKTOP-HUF0F0G\SQLEXPRESS;Initial Catalog=PersonAward;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>